src/test/resources/flows/linkedin-post-analytics-test.yaml
id: linkedin-post-analytics-test
namespace: io.kestra.plugin.linkedin

tasks:
  - id: authenticate
    type: io.kestra.plugin.linkedin.OAuth2
    clientId: "test-client-id"
    clientSecret: "{{ secret('LINKEDIN_CLIENT_SECRET') }}"
    refreshToken: "{{ secret('LINKEDIN_REFRESH_TOKEN') }}"
    tokenUrl: "http://127.0.0.1:65535/oauth/v2/accessToken"

  - id: get_analytics
    type: io.kestra.plugin.linkedin.GetPostAnalytics
    accessToken: "{{ outputs.authenticate.accessToken }}"
    apiBaseUrl: "http://127.0.0.1:65535"
    activityUrns:
      - "urn:li:activity:7374025671234244609"