src/test/resources/post-analytics.yaml
id: linkedin-post-analytics-test
namespace: io.kestra.plugin.linkedin

tasks:
  - id: authenticate
    type: io.kestra.plugin.linkedin.OAuth2
    clientId: "{{ secret('LINKEDIN_CLIENT_ID') }}"
    clientSecret: "{{ secret('LINKEDIN_CLIENT_SECRET') }}"
    refreshToken: "{{ secret('LINKEDIN_REFRESH_TOKEN') }}"

  - id: get_analytics
    type: io.kestra.plugin.linkedin.PostAnalytics
    accessToken: "{{ outputs.authenticate.accessToken }}"
    activityUrns:
      - "urn:li:activity:7374025671234244609"